body {
    margin: 0;
}

.banner {
    display: block;
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 0 20px;
    background-color: black;
    color:  white;
}

.banner navbar {
    display: block;
}

.banner navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
}

.banner navbar a:hover {
    background-color: grey;
}

.banner navbar a.active {
    background-color: white;
    color: black;
}

.banner navbar a.login-logout {
    float: right;
}

.content {
    margin: 20px;
}

form > * {
    display: block;
    margin-top: 10px;
}