.why-choose-us {
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.why-choose-us h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

.why-choose-us p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background-color: #dbe0d1;
}

.feature h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #666;
}
.feature i {
    font-size: 40px;
    color: #588157;
    margin-bottom: 10px;
}


.welcome-section {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    margin: 30px 0;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    max-width: full-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 12px;
    margin-top: 40px;
}

.welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.text-container {
    flex: 1;
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px;
}

.text-content {
    text-align: left;
}

.welcome-section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 25px;
    font-weight: 700;
}

.welcome-section p {
    font-size: 18px;
    color: #666;
    line-height: 1.7;
    margin-bottom: 30px;
    font-weight: 400;
    max-width: 600px;
}

.welcome-section button {
    font-size: 18px;
    padding: 14px 30px;
}

.image-container {
    flex: 1;
}

.image-container img {
    border-radius: 8px;
}
